<nb-card *ngIf="model">
    <nb-card-header>
        <h1>{{model.name|uppercase}}</h1>
    </nb-card-header>
    <nb-card-body style="display: flex;justify-content: space-around;">
        <img [src]="model.sprites.front_default">
        <img [src]="model.sprites.back_default">
    </nb-card-body>
</nb-card> 