<p>{{ compteur }}</p>
<button nbButton status="success"
        (click)="increase()"
        [disabled]="compteur >= 9">+</button>
<button nbButton status="info"
        (click)="decrease()"
        [disabled]="compteur <= 0">-</button>