<nb-card>
    <nb-card-header>
        <input nbInput type="text" [(ngModel)]="newItem"
               #input>
        <button (click)="add()"
                [disabled]="!newItem">+</button>
    </nb-card-header>
    <nb-card-body>
        <ul>
            <li *ngFor="let item of items; let i =index"
                (click)="check(item)"
                [ngStyle]="{'text-decoration': item.isChecked ? 'line-through': 'none'}">
                {{ item.name | titlecase }} 
                <button nbButton size="tiny"
                        (click)="remove(i)">X</button>   
            </li>
        </ul>
    </nb-card-body>
</nb-card>
