<nb-card>
    <nb-card-body>
        <h1>{{nbSeconds|toTimer}}</h1>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton (click)="start()"
                [disabled]="idTimer">Start</button>
        <button nbButton (click)="stop()"
                [disabled]="!idTimer">Stop</button>
        <button nbButton (click)="reset()"
                [disabled]="!nbSeconds">Reset</button>
    </nb-card-footer>
</nb-card>
