<app-alert title="Mon Titre" color="green"
            (onClick)="receiveResponse($event)">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio, corporis labore atque delectus, praesentium nostrum consectetur fugiat libero tempora pariatur earum. Officiis asperiores quia atque quod. Repellendus temporibus sapiente alias.</p>
    <p>Attention</p>
</app-alert>