<nb-card accent="danger">
    <nb-card-header>
        Êtes-vous sûr de vouloir supprimer {{title}} ?
    </nb-card-header>
    <nb-card-body>
        <button nbButton status="success" (click)="yes()">Yes</button>
        <button nbButton status="danger" (click)="no()">No</button>
    </nb-card-body>
</nb-card>
