<nb-card>
    <nb-card-header (click)="toggle()">
        <nb-icon icon="arrow-down"></nb-icon>
    </nb-card-header>
    <nb-card-body *ngIf="isToggled">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi laudantium cum inventore accusantium sint sed animi, necessitatibus dolores accusamus incidunt eveniet, corrupti perspiciatis ut magnam voluptates! Velit incidunt blanditiis dolor!
    </nb-card-body>
</nb-card>
<ul>
    <li *ngFor="let item of liste; let i = index; let pair = even"
        [ngClass]="{'maClass': pair}"
    >
        {{ i }} - {{ item }}
    </li>
</ul>
