<nb-chat>
    <nb-chat-message *ngFor="let item of mesService.context$|async"
                     [reply]="item.author != author"
                     [sender]="item.author"
                     [date]="item.date"
                     [message]="item.content"
                     type="text"
    >
    </nb-chat-message>
    <nb-chat-form (send)="send($event)" [showButton]="mesService.canSend$|async"></nb-chat-form>
</nb-chat>
