<div class="alert" [ngStyle]="{'border-color':color}">
    <h1>{{title}}</h1>
    <div>
        <ng-content></ng-content>
        <button (click)="yes()">Yes</button>  
        <button (click)="no()">No</button>  
    </div>
</div>
