<form [formGroup]="fg" (ngSubmit)="login()">
    <div class="input-goup">
        <div class="col-md-4">
            <label for="email">Email</label>
        </div>
        <input id="email" nbInput type="email" formControlName="email">
    </div>

    <div class="input-goup">
        <div class="col-md-4">
            <label for="password">Password</label>
        </div>
        <input id="password" nbInput type="password" formControlName="password">
    </div>

    <div class="input-goup">
        <input nbButton type="submit" value="Login">
    </div>
       
</form>
