<div class="row">
    <div class="col">
        <app-ex3-master (changeUrl)="url = $event"></app-ex3-master>
    </div>
    <div class="col">
        <app-ex3-details [url]="url"></app-ex3-details>
    </div>
</div>
