<nb-card>
    <nb-card-body style="display: flex;justify-content: space-between;">
        <button nbButton
                [disabled]="!model?.previous"
                (click)="prev()">Previous</button>
        <button nbButton
                [disabled]="!model?.next"
                (click)="next()">Next</button>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <nb-list>
            <nb-list-item *ngFor="let p of model?.results"
                          style="cursor: pointer;"
                          (click)="select(p.url)">
                {{ p.name }}
            </nb-list-item>
        </nb-list>
    </nb-card-body>
</nb-card>
