<nb-layout>

  <nb-layout-header>

    <a *ngIf="!(session.token$|async)" routerLink="/login">Login</a>
    <a *ngIf="session.token$|async" (click)="logout()">Logout</a>
    <br>
    {{title$|async}}
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    &copy; 2020 - Oniryx
  </nb-layout-footer>

</nb-layout>
