<nb-card>
    <nb-card-body>
        <form [formGroup]="fg" (ngSubmit)="submit()">
            <div class="input-group mb-3">
                <label for="lastName" class="col-md-3 control-label">Last Name</label>
                <input nbInput id="lastName" type="text" 
                       formControlName="lastName"
                       [status]="toStatus(fg.get('lastName'))">
            </div>
            <div class="input-group mb-3">
                <label for="firstName" class="col-md-3 control-label">First Name</label>
                <input nbInput id="firstName" type="text" 
                       formControlName="firstName"
                       [status]="toStatus(fg.get('firstName'))">
            </div>
            <div class="input-group mb-3">
                <label for="password" class="col-md-3 control-label">Password</label>
                <input nbInput id="password" type="password" 
                       formControlName="password"
                       [status]="toStatus(fg.get('password'))">
            </div>
            <div class="input-group mb-3">
                <label for="confirmPassword" class="col-md-3 control-label">Confirmer Password</label>
                <input nbInput id="confirmPassword" type="password" 
                       formControlName="confirmPassword"
                       [status]="toStatus(fg.get('confirmPassword'))">
            </div>
            <div class="input-group mb-3">
                <label for="birthDate" class="col-md-3 control-label">Birth Date</label>
                <input nbInput id="birthDate"
                       formControlName="birthDate"
                       [nbDatepicker]="bdId"
                       [status]="toStatus(fg.get('birthDate'))">
                <nb-datepicker #bdId></nb-datepicker>
            </div>
            <div class="input-group mb-3">
                <input nbButton type="submit" value="S'enregistrer"
                       [disabled]="fg.invalid">
            </div>
        </form>
    </nb-card-body>
</nb-card>
