<input [(ngModel)]="input">
<button (click)="click()">+</button>


<p [appTooltip]="'mon tooltip'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque at deleniti sequi natus numquam sint magni, suscipit voluptatibus saepe iusto ipsam. Minima non maxime velit amet harum voluptas! Nisi, magni?</p>