<nb-card>
    <nb-card-body>
        <ul>
            <li *ngFor="let item of model?.results">
                <a [routerLink]="['/demo/demo9bis', item.url]">{{item.name}}</a>
            </li>
        </ul>
    </nb-card-body>
</nb-card>
